<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no" />
		<title>文章详情页</title>
		<link rel="stylesheet" href="/css/base.css" />
		<script>
	        (function (doc, win) {
	            var docEl = doc.documentElement,
	                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
	                    recalc = function () {
	                        var clientWidth = docEl.clientWidth;
	                        if (!clientWidth) return;
	                        if(clientWidth>750){
	                        	clientWidth = 750;
	                        }
	                        docEl.style.fontSize = 28 * (clientWidth / 750) + 'px';
	                    };
	            // Abort if browser does not support addEventListener
	            if (!doc.addEventListener) return;
	            win.addEventListener(resizeEvt, recalc, false);
	            doc.addEventListener('DOMContentLoaded', recalc, false);
	        })(document, window);
    	</script>
		<link rel="stylesheet" type="text/css" href="/css/article.css" />
    	<link rel="stylesheet" type="text/css" href="/css/prettify.css">

	</head>
	<body>
		<header id="header">
			<a href="javascript:;" onClick="javascript :history.back();"><i class="fl iconfont icon-arrowleft"></i></a>
			<!--<i class="fl iconfont icon-bars"></i>-->
			妖邪之灵个人博客
			<i class="fr iconfont icon-close"></i>
		</header>

		<!-- /header -->
		<section class="content article-content">
			<section class="article-info cf">
				<a class="author-index" href="#"><img class="fl" src="/images/lib/img_head.png"></a>
				<div class="">
					<span class="author" th:text="${list.author}"></span>
					<span class="fr date" th:text="${list.gtmmodified}">2016-11-20</span>
				    <span class="tag" th:text="${list.typename}"></span>
				</div>
			</section>
			<!-- article-info end -->
			<section class="article-detile">
				<h2 th:text="${list.typename}"></h2>
				<div class="article-text" th:utext=" ${list.content}">


				</div>
				<!-- article-txt end -->
				<div class="qrcode">
					<img src="/images/lib/qrcode_01.jpg" alt="">
					觉得本文不错，打赏作者。
				</div>
				<p class="article-prev">【上一篇】: <a  th:href="@{/main/findAuthorDetails.do?cid={cid}(cid=${ondata.cid})}"    th:text="${ondata.title}"    th:title="${ondata.title}"></a></p>
				<p class="article-next">【下一篇】: <a  th:href="@{/main/findAuthorDetails.do?cid={cid}(cid=${underData.cid})}"    th:text="${underData.title}" th:title="${underData.title}"></a></p>
			</section>
			<!-- article-detile end -->

		</section>
		<!-- article-content end -->
		<footer id="footer">
			©2018-2019 · <a href="#">何彪个人博客 &nbsp;&nbsp;鄂ICP备18012534号</a>
		</footer>
		<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="/js/prettify.js"></script>
		<script type="text/javascript" src="/js/article.js"></script>
	</body>
</html>