<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<meta name="format-detection" content="telephone=no" />
		<title>妖邪之灵个人博客</title>
		<link rel="stylesheet" href="/css/base.css" />
		<script>
	        (function (doc, win) {
	            var docEl = doc.documentElement,
	                    resizeEvt = 'orientationchange' in window ? 'orientationchange' : 'resize',
	                    recalc = function () {
	                        var clientWidth = docEl.clientWidth;
	                        if (!clientWidth) return;
	                        if(clientWidth>750){
	                        	clientWidth = 750;
	                        }
	                        docEl.style.fontSize = 28 * (clientWidth / 750) + 'px';
	                    };
	            // Abort if browser does not support addEventListener
	            if (!doc.addEventListener) return;
	            win.addEventListener(resizeEvt, recalc, false);
	            doc.addEventListener('DOMContentLoaded', recalc, false);
	        })(document, window);
    	</script>
		<link rel="stylesheet" href="/css/author.css" />
	</head>
	<body>
		<div id="app-author">
			<nav id="nav">
				<div class="search">
					<input type="text" name="" value="" placeholder="" maxlength="20">
					<i class="fr iconfont icon-search"></i>
				</div>
				<ul class="cf">
					<li style="background-image: url(/images/lib/nav_bg.jpg);"><a href="/author" title="">首页</a></li>
					<li style="background-image: url(/images/lib/nav_bg2.jpg);"><a href="/index" title="">个人专栏</a></li>
					<li style="background-image: url(/images/lib/nav_bg3.jpg);"><a href="" title="">生活随想</a></li>
					<li style="background-image: url(/images/lib/nav_bg.jpg);"><a href="" title="">心得笔记</a></li>
					<li style="background-image: url(/images/lib/nav_bg2.jpg);"><a href="" title="">JAVA</a></li>
					<li style="background-image: url(/images/lib/nav_bg3.jpg);"><a href="" title="">C&C++</a></li>
					<li style="background-image: url(/images/lib/nav_bg.jpg);"><a href="" title="">大数据</a></li>
					<li style="background-image: url(/images/lib/nav_bg2.jpg);"><a href="" title="">区块链</a></li>
					<li style="background-image: url(/images/lib/nav_bg3.jpg);"><a href="" title="">黑客</a></li>
					<li style="background-image: url(/images/lib/nav_bg.jpg);"><a href="" title="">人工智能</a></li>
					<li style="background-image: url(/images/lib/nav_bg2.jpg);"><a href="" title="">前端开发</a></li>
					<li style="background-image: url(/images/lib/nav_bg3.jpg);"><a href="" title="">留言板</a></li>
				</ul>
			</nav>
			<header id="header">
				<i class="fl iconfont icon-bars"></i>
				妖邪之灵个人博客
				<i class="fr iconfont icon-close"></i>
			</header>

			<header id="author_header">
				<a href="/index"><i class="iconfont icon-arrowleft"></i></a>
				<img src="/images/lib/img_head.png" alt="">
			</header>
			<!-- /header -->
			<section class="author-info">
				<div class="fl"><span>38</span>文章总量</div>
				<div class="fr"><span>380</span>写作天数</div>
				<div class="cf">妖邪之灵<p>你要相信：越努力，越幸运。</p></div>
			</section>


			<!-- author-info end -->
			<section class="content author-content">
				<ul>
					<li v-for="data in dataList">
						<a v-bind:href="bindsrc(data.cid)"  v-bind:title="data.title">
							<h3>{{data.title}}</h3>
							<img class="article-pic" v-bind:src='data.titlepicture' v-bind:alt='data.title'>
							<div class="article-tagbox cf">
								<div class="fr">发布日期<span>{{data.gtmmodified}}</span></div>
								<div class="fr read">阅读量<span>{{data.reading}}</span></div>
							</div>
							<p v-html="data.introduction"></p>
						</a>
					</li>

				<!--	<li>
						<a href="article.html">
							<h3>HTML5 placeholder属性兼容IE9及以下浏览器的用法</h3>
							<img class="article-pic" src="/images/index/index_list.jpg" alt="">
							<div class="article-tagbox cf">
								<div class="fr">发布日期<span>2016-11-20</span></div>
								<div class="fr read">阅读量<span>120</span></div>
							</div>
							<p>说起HTML5，相信大家已经都不在陌生了，一些HTML5的新方法，也被越来越多的浏览器认可，极大的方便了我们这些开发人员。但是...</p>
						</a>
					</li>

					<li>
						<a href="article.html">
							<h3>HTML5 placeholder属性兼容IE9及以下浏览器的用法</h3>
							<img class="article-pic" src="/images/index/index_list.jpg" alt="">
							<div class="article-tagbox cf">
								<div class="fr">发布日期<span>2016-11-20</span></div>
								<div class="fr read">阅读量<span>120</span></div>
							</div>
							<p>说起HTML5，相信大家已经都不在陌生了，一些HTML5的新方法，也被越来越多的浏览器认可，极大的方便了我们这些开发人员。但是...</p>
						</a>
					</li>-->
				</ul>
			</section>
		</div>
		<!-- author-content end -->
		<footer id="footer">
			©2018-2019 · <a href="#">何彪个人博客 &nbsp;&nbsp;鄂ICP备18012534号</a>
		</footer>
		<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
		<script type="text/javascript" src="/js/index.js"></script>
	    <script type="text/javascript" src="/js/vue.js"></script>
		<script type="text/javascript" src="/js/author.js"></script>
	</body>
</html>