<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zizhuling.mlove.dao.ContentDao">

    <!--查询首页界面数据-->
    <select id="findAuthor" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        select bc.cid,
        bc.content,
        date_format(bc.gtm_create, '%Y-%m-%d') gtmcreate,
        date_format(bc.gtm_modified, '%Y-%m-%d') gtmmodified,
        bc.title,
        sd.name typename,
        bc.author,
        bc.introduction,
        bc.title_picture titlepicture,
        bc.comments_num commentsnum,
        bc.reading
        from blog_content bc
        left join sys_dict sd on sd.type='blog_type' and sd.value=bc.categories
        where 1=1 AND bc.categories in ('10','11','12','13','14','15','16','17','18','19','20','21')
        <if test="search!=null and search!=''">and bc.title like #{search} </if>
        order by bc.gtm_create DESC
    </select>
    <!--查询首页详细界面数据-->
    <select id="findAuthorDetails" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        select bc.cid,
        bc.content,
        date_format(bc.gtm_create, '%Y-%m-%d') gtmcreate,
        date_format(bc.gtm_modified, '%Y-%m-%d') gtmmodified,
        bc.title,
        sd.name typename,
        bc.author,
        bc.gjzc,
        bc.reading,
        bc.categories
        from blog_content bc
        left join sys_dict sd on sd.type='blog_type' and sd.value=bc.categories
        where 1=1 AND bc.categories in ('10','11','12','13','14','15','16','17','18','19','20','21')
        <if test="cid!=null and cid!=''">and bc.cid=#{cid}</if>
    </select>
    <!--查询上一篇-->
    <select id="findLifeOnData" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        select bc.cid,
        bc.title
        from blog_content bc
        where 1=1
        <if test="type==1">and bc.categories in ('10','11','12','13','14','15','16','17','18','19','20','21')</if>
        <if test="type==3">and bc.categories in ('16','17','18','19','20','21')</if>
        <if test="type==5">and bc.categories in ('10','11','12','13','14','15')</if>
        and #{cid}>bc.cid order by bc.cid desc limit 1 ;
    </select>
    <!--查询下一篇-->
    <select id="findLifeUnderData" parameterType="Map" resultType="org.apache.commons.collections.map.CaseInsensitiveMap">
        select bc.cid,
        bc.title
        from blog_content bc
        where 1=1
        <if test="type==1">and bc.categories in ('10','11','12','13','14','15','16','17','18','19','20','21')</if>
        <if test="type==3">and bc.categories in ('16','17','18','19','20','21')</if>
        <if test="type==5">and bc.categories in ('10','11','12','13','14','15')</if>
        and bc.cid>#{cid} order by bc.cid asc limit 1 ;
    </select>

    <!--记录访问量-->
    <update id="updateClickRate" parameterType="Map">
        update blog_content set reading=reading+1 where cid=#{cid}
    </update>



</mapper>
